certifi==2019.11.28
chardet==3.0.4
Click==7.0
colorama==0.4.3
construct==2.10.56
ecdsa==0.15
idna==2.8
libusb1==1.7.1
mnemonic==0.19
pycryptodome==3.9.6
requests==2.22.0
six==1.14.0
trezor==0.11.6
typing-extensions==3.7.4.1
urllib3==1.26.5
